<!DOCTYPE html>
<html>
<head>
  <title>Messagehub</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'jquery.timeago.js' %>  <%= csrf_meta_tags %>
  <%= csrf_meta_tag %>
</head>
<body>
	<h1 class="center">Messagehub</h1>
	<h3 class="center">By Nick Teleky </h3>

<%= yield %>

</body>
</html>
